@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: #ffb43a;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #1e1e2a;
    --container-color: #2d2e37;
    --text-color: #fcfeff;
    /* box-shadow */
    /* --box-shadow: .2rem .2rem 1rem .4rem rgb(14 55 54 / 15%); */
}
html::-webkit-scrollbar{
    width: .5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
::selection{
    background: var(--main-color);
    color: var(--text-color);
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

section {
    padding: 4rem 0 2rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
    background: var(--body-color);
}

.container {
    max-width: 106rem;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0;
}

.logo {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;

}

.logo span {
    color: var(--main-color);
    font-size: 1.8rem;
}

/* search box */
.search-box {
    max-width: 24rem;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: .8rem;
    padding: .6rem 1.6rem;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: .6rem;
}

.search-box .fa-solid {
    cursor: pointer;
    font-size: 1.4rem;
    padding: .8rem 0 .8rem .8rem;
}

.search-box .fa-solid:hover {
    color: var(--main-color);
}

#search-input {
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 1.6rem;
}

/* user */
.user {
    display: flex;
}

.user-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.navbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 4.4rem;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}

.nav-link:hover,
.nav-active {
    color: var(--text-color);
    transition: .2s all linear;
    transform: scale(1.1);
}

.nav-link .fa-solid {
    font-size: 1.8rem;
}

.nav-link .nav-link-title {
    font-size: 1.2rem;
}

/* home */
.home {
    position: relative;
    min-height: 47rem;
    display: flex;
    align-items: center;
    margin-top: 6rem !important;
    border-radius: .5rem;
}

.home-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: .5rem;
}

.home-text {
    padding-left: 4rem;
    font-size: 3.4rem;
}

.home-title {
    font-size: 2.4rem;
    font-weight: 600;
}

.home-text p {
    font-size: 1.6rem;
    margin: 1rem 0 2rem;
    color: var(--main-color);
}

.watch-btn {
    display: flex;
    align-items: center;
    column-gap: .8rem;
    color: var(--text-color);
}

.watch-btn .fa-solid {
    font-size: 2.4rem;
    padding-left: .2rem;
    background: var(--main-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-btn .fa-solid:hover {
    background-color: var(--hover-color);
}

.watch-btn span {
    font-size: 1.8rem;
    font-weight: 400;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: .8rem 1.4rem;
    border: .1rem solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
}

.heading-title {
    font-size: 2.2rem;
    font-weight: 500;
}

.movie-box {
    position: relative;
    width: 100%;
    height: 38rem;
    overflow: hidden;
}

.movie-box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.movie-box .box-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.4rem;
    background: linear-gradient(8deg,
            hsl(240 17% 14% / 74%) 14%,
            hsl(240 17% 14% / 14%) 74%);
    overflow: hidden;
}

.movie-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.movie-type {
    font-size: 1.4rem;
}
.play-btn{
    position: absolute;
    bottom: .8rem;
    right: .8rem;
}

/* swiper btn */
.swiper-btn {
    display: flex;
}

.swiper-button-next,
.swiper-button-prev {
    position: static !important;
    margin: 0 0 0 1rem !important;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    color: var(--text-color);
    font-size: 1.8rem !important;
    font-weight: 700;
}
/* movie */
.movies .heading{
    padding: 1rem 1.4rem;
}
.movies-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24.7rem,1fr));
    gap: 1.6rem;
}
.movies-content .movie-box:hover .movie-box-img{
    transform: scale(1.1);
    transition: .5s;
}
.next-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.6rem;
}
.next-btn{
    background: var(--main-color);
    padding: 1.2rem 2rem;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.8rem;
}
.next-btn:hover{
    background: var(--hover-color);
    transition: .3s all linear;
}
.copyright{
    text-align: center;
    padding: 2rem;
    font-size: 1.6rem;
}
/* play container */
.play-container{
    position: relative;
    min-height: 54rem;
    margin-top: 12rem !important;
}
.play-img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.play-text{
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    background: linear-gradient(8deg,
            hsl(240 17% 14% / 74%) 14%,
            hsl(240 17% 14% / 14%) 74%);
}
.play-text h2{
    font-size: 2.4rem;
    font-weight: 600;
}
.rating{
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: 2.4rem;
    color: var(--main-color);
    margin-top: .4rem;
}
.tags{
    display: flex;
    align-items: center;
    column-gap: .8rem;
    font-size: 2.2rem;
    margin: 1rem 0;
}.tags span{
    background-color: var(--container-color);
    padding: 0 .4rem;
}
.play-movie{
    position: absolute;
    bottom: 24rem;
    right: 16rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: var(--main-color);
    font-size: 2.6rem;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{
        box-shadow: 0 0 0 0 rgb(255, 180, 58, 0.7);
    }
    40%{
        box-shadow: 0 0 0 5rem rgb(255, 193, 7, 0);
    }
    80%{
        box-shadow: 0 0 0 5rem rgb(255, 193, 7, 0);
    }
    100%{
        box-shadow: 0 0 0 rgb(255, 193, 7, 0);
    }
}
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: hsl(234 10% 20% / 60%);
    z-index: 400;
}
.video-container.show-video{
    display: flex;
}
.video-box{
    position: relative;
    width: 70%;
}
.video-box #myvideo{
    width: 100%;
    aspect-ratio: 16/9;
}
.close-video{
    position: absolute;
    cursor: pointer;
    top: -4rem;
    right: -4rem;
    font-size: 4rem;
    color: var(--main-color);
}
.about-movie{
    margin-top: 2rem;
}
.about-movie h2{
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--main-color);
}
.about-movie p{
    max-width: 60rem;
    font-size: 1.6rem;
    margin: 1rem 0;
}
/* cast */
.cast-heading{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.cast{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,15rem));
    column-gap: 1.4rem;
}
.cast-img{
    width: 15rem;
    height: 18rem;
    object-fit: cover;
    object-position: center;
}
.cast-title{
    font-size: 1.6rem;
}
.download{
    max-width: 80rem;
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    margin-top: 2rem;

}
.download-title{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 1.6rem 0;
    color: var(--main-color);
}
.download-link{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}
.download-link a{
    text-align: center;
    background: var(--main-color);
    padding: 1.2rem 2.4rem;
    color: var(--body-color);
    letter-spacing: .1rem;
    font-weight: 500;
    font-size: 1.8rem;
}
.download-link a:hover{
    background: var(--hover-color);
}
/* responsive */
@media (max-width: 1220px){
    .navbar{
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        transform: translateY(0);
        flex-direction: row;
        justify-content: space-evenly;
        row-gap: .1rem;
        padding: 1rem;
        border-top: .1rem solid hsl(200 100% 99% / 5%);
        background: linear-gradient(8deg, hsl(240 17% 14% / 100%) 5%, hsl(240 17% 14% / 90%) 100%);
    }
    .copyright{
        margin-bottom: 6rem;
    }
}
@media (max-width: 1100px){
    .container{
        margin: 0 auto;
        width: 95%;
    }
}
@media (max-width: 991px){
    .movie-box{
        height: 34rem;
    }
    .movies-content{
        grid-template-columns: repeat(auto-fit, minmax(21.4rem,1fr));
    }
}
@media (max-width: 888px){
    .nav{
        padding: 1.4rem 0;
    }
    .home{
        min-height: 44rem;
        margin-top: 6rem !important;
    }
    .home-text{
        padding-left: 2.5rem;
    }
    .home-title{
        font-size: 1.8rem;
        font-weight: 400;
    }
    .watch-btn span {
        font-size: 1.4rem;
    }
    .movie-title{
        font-size: 1.6rem;
        padding-right: 3rem;
    }
    .play-movie{
        bottom: 24rem;
        right: 4rem;
    }
    .cast{
        justify-content: center;
    }
}
@media (max-width: 768px){
    .nav{
        padding: 1.2rem 0;

    }
    .play-movie{
        bottom: 4rem;
        right: 4rem;
    }
    .logo,.logo span{
        font-size: 1.6rem;
    }
    section{
        padding: 2rem 0;
    }
    .home-img{
        object-position: left;
    }
    .movie-type{
        font-size: 1.2rem;
        margin-top: .2rem;
    }
    .tags span, .about-movie, .cast-title{
        font-size: 1.2rem;
    }
    p{
        font-size: 1.2rem;
    }
    .play-text h2, .about-movie h2{
        font-size: 1.8rem;
    }
    .download-title{
        font-size: 1.8rem;
    }
    .download-link a{
        font-size: 1.2rem;
    }
    .copyright p{
        font-size: 1rem;
    }
    .close-video{
        font-size: 2rem;
        top: -2rem;
        right: -2rem;
    }
}
@media (max-width: 468px){
    *{
        scroll-padding-top: 5rem;
    }
    .nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: .5rem;
    }
    .search-box{
        max-width: 100%;
        width: 100%;
        border-radius: .4rem;
        order: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .home{
        /* min-height: 44rem; */
        margin-top: 12rem !important;
    }
    .movies-content{
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1rem;
    }
}