*{
    margin: 0;
    padding: 0;
}
.container{
    background: #000;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.container .carousel{
    width: 300px;
    margin: 100 auto 0;
    overflow: visible;
}
.carousel img{
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
}